@font-face {
    font-family: Static;
    src: url("../assets/fonts/static/static.otf") format("opentype");
}

@font-face {
    font-family: "Static Italic";
    src: url("../assets/fonts/static/static_italic.otf") format("opentype");
}

@font-face {
    font-family: "Static Bold";
    src: url("../assets/fonts/static/static_bold.otf") format("opentype");
}

@font-face {
    font-family: "Static Bold Italic";
    src: url("../assets/fonts/static/static_bold_italic.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6, .font-alt {
	font-family: "Static", sans-serif;
	text-transform: none;
	letter-spacing: 1px;
}

p {
    margin-bottom: 1.5em;
}